@import "tailwindcss";



.trf{
    height:100%
}

.imageRep{
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 200px;
    user-select:none;
    pointer-events: none; 
}


@media (max-width: 640px) { 
    .product {
        width: 150px; /* Smaller screens */
        height: 150px;
    }
}

@media (max-width: 400px) {
    .hide400 {
      display: none;
    }
  }
  
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
